body {
  background: #c0d8fc;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.todo-app {
  background: white;
  border-radius: 20px;
  padding: 24px;
  width: 400px;
  min-height: 460px;
  box-shadow: 0 10px 30px rgba(146, 97, 97, 0.1);
  display: flex;
  flex-direction: column;
}

.header {
  background: linear-gradient(135deg, #2877d1, #88bae9);
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 1.4rem;
}

#date {
  font-size: 0.9rem;
  margin-top: 4px;
  color: #e0dfff;
}

form {
  display: flex;
  margin-bottom: 16px;
  gap: 8px;
}

form input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

form button {
  position: relative;
  padding: 0;
  width: 36px;
  height: 36px;
  background: #88bae9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

form button:hover {
  background: #27b3eb;
}

.filters {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 0;
  border-bottom: 2px solid #eee;
  padding-bottom: 6px;
}

.filter-btn {
  padding: 6px 12px;
  background: none;
  border: none;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
}

.filter-btn.active {
  color: #2877d1;
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2877d1;
  border-radius: 1px;
}

.todo-list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 12px 0 0 0; 
  overflow-y: auto;
}

.todo-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
}

.todo-list span {
  flex: 1;
  font-size: 1rem;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #999999;
}
.empty-state{
  text-align: center;
  color: #cac0c0cb;
  padding: 86px 10px;
  font-size: 0.95rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  font-size: 0.9rem;
  color: #555;
}
